body{
    background-color: lightblue;
}
.kozep{
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    text-align: center;
    width: 60%;
    background-color: beige;
}
.sz_kozep{
    text-align: center;
}
button{
    background-color: lightcyan;
    color: darkblue;
}
a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: darkblue;
}
table{
    margin: 10px;
    padding: 10px;
    border: 1px black solid;
}